*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #86C6E6;
    font-family: Arial, sans-serif;
}
 .container{
        width: 100%;
        min-height: 100vh;
    }
    .phandau{
    background-color: #D9D9D9;
    height: 70px;
    width: 100%; 
    display: flex;  
    align-items: center;   
    padding-left: 15px;    
    font-size: 15px;
    }
.phangiua{
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.icon{
    text-align: center;

}
.form{
    text-align: center;
    font-size: 30px;
    font-weight: bold;    
}
.form-1{
    text-align: center;
   margin-top: -120px;
   font-size: 20px;
}
.form-2{
     margin-top: 20px;
    padding: 12px 35px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    background: #ffffff;
    margin-left: 680px;
}
footer {
    background: #f3f3f3;
    padding: 30px 10px;
    font-size: 14px;
    margin-top: 40px;
  }
  
  .footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .socials img {
    width: 25px;
    margin-right: 10px;
  }
  