* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: #94dbff;
    min-height: 100vh;
    display: flex;              
    flex-direction: column;  
}

.container {
    flex: 1;              
}

.container-login{
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.phangiua {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.phangiua input {
    width: 70%;
    max-width: 450px;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    background: #f2f2f2;
    font-size: 16px;

}

footer {
    background: #f3f3f3;
    padding: 30px 10px;
    font-size: 14px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 15px;
}

.footer-section ul {
    list-style: none;
}

.footer-section li {
    margin-bottom: 5px;
}

.socials img {
    width: 25px;
    margin-right: 10px;
}
