    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-color: #86C6E6;
        font-family: Arial, sans-serif;
    }
    .container{
        width: 100%;
        min-height: 100vh;
    }
    .phandau{
   background-color: #D9D9D9;
    height: 70px;
    width: 100%; 
    display: flex;  
    align-items: center;   
    padding-left: 15px;    
    font-size: 15px;
    }
    .phangiua h2 {
        text-align: center;
        margin-top: 70px;
        font-size: 50px;
    }
    .content-left{
        padding: 15px;
        font-size: 20px;
    }
.content-right {
    float: right;
    padding-right: 200px;
    font-size: 20px;
    line-height: 50px;
}
.bold{
    font-weight: bold;
}
  footer {
    background: #f3f3f3;
    padding: 30px 10px;
    font-size: 14px;
    margin-top: 40px;
  }
  
  .footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
  }
  
  .footer-section h4 {
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 5px;
  }
  
  .socials img {
    width: 25px;
    margin-right: 10px;
  }
  